.bar-st {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress > p,
.bar-st > p{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.bar-st > span {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
        -moz-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
            transition: width 0.6s ease;
}

.bar-gradient > span {
    box-shadow: 
        0 5px 5px rgba(255,255,255,0.6) inset, 
        0 -5px 7px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 
        0 5px 5px rgba(255,255,255,0.6) inset, 
        0 -5px 7px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 
        0 5px 5px rgba(255,255,255,0.6) inset, 
        0 -5px 7px rgba(0, 0, 0, 0.4) inset;
    filter: progid:DXImageTransform.Microsoft.gradient( 
        startColorstr='#33ffffff', 
        endColorstr='#33000000',
        GradientType=0 );
}

.bar-gloss > span {
    background-image: -moz-linear-gradient(top, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,rgba(255,255,255,0.2)), 
        color-stop(45%,rgba(255,255,255,0.1)), 
        color-stop(55%,rgba(0,0,0,0.2)), 
        color-stop(100%,rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(top, 
        rgba(255,255,255,0.5) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(top, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: -ms-linear-gradient(top, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
    background-image: linear-gradient(to bottom, 
        rgba(255,255,255,0.2) 0%, 
        rgba(255,255,255,0.1) 45%, 
        rgba(0,0,0,0.2) 55%, 
        rgba(0,0,0,0.1) 100%);
}

.bar-stripe > span {
    background-size:30px 30px;
    -moz-background-size:30px 30px;
    -webkit-background-size:30px 30px;
    -o-background-size:30px 30px;

    background-image: -moz-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%, 
        rgba(255,255,255,0.15) 25%, 
        rgba(255,255,255,0) 25%, 
        rgba(255,255,255,0) 50%, 
        rgba(255,255,255,0.15) 50%, 
        rgba(255,255,255,0.15) 75%, 
        rgba(255,255,255,0) 75%, 
        rgba(255,255,255,0) 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, 
        color-stop(0%,rgba(255,255,255,0.2)), 
        color-stop(25%,rgba(255,255,255,0.2)), 
        color-stop(25%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.2)), 
        color-stop(75%,rgba(255,255,255,0.2)),
        color-stop(75%,rgba(255,255,255,0)),
        color-stop(100%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(-45deg, 
        rgba(255,255,255,0.3) 0%,
        rgba(255,255,255,0.3) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.3) 50%,
        rgba(255,255,255,0.3) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(-45deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
    background-image: linear-gradient(135deg, 
        rgba(255,255,255,0.15) 0%,
        rgba(255,255,255,0.15) 25%,
        rgba(255,255,255,0) 25%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0.15) 50%,
        rgba(255,255,255,0.15) 75%,
        rgba(255,255,255,0) 75%,
        rgba(255,255,255,0) 100%);
}

.bar-ext-rotate > span {
    background-size: 10px 60px; 
    background-position: 0;
    background-image: -moz-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: -webkit-gradient( radial, center center, 0, center center, 60, 
        color-stop(0, rgba(255,255,255,.9)), 
        color-stop(20%, rgba(255,255,255,.2)), 
        color-stop(40%, rgba(255,255,255,0)),
        color-stop(100%, rgba(255,255,255,0)));
    background-image: -webkit-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: -o-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: -ms-radial-gradient(center, ellipse cover, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);
    background-image: radial-gradient(ellipse at center, 
        rgba(255,255,255,.9) 0%,
        rgba(255,255,255,.2) 20%,
        transparent 40%);	
}

.bar-ext-stuning > span {
    background-size: 13px, 29px, 37px, 53px;
    background-image: 
        -moz-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -moz-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -moz-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -moz-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        -webkit-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -webkit-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -webkit-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -webkit-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,.07)), 
        color-stop(50%,rgba(255,255,255,.07)), 
        color-stop(50%,rgba(255,255,255,0)),
        color-stop(50%,rgba(255,255,255,0))),
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,.13)), 
        color-stop(50%,rgba(255,255,255,.13)), 
        color-stop(50%,rgba(255,255,255,0)),
        color-stop(50%,rgba(255,255,255,0))),
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.17)),
        color-stop(50%,rgba(255,255,255,0.17))),
        -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.19)),
        color-stop(50%,rgba(255,255,255,0.19)));
    background-image: 
        -o-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -o-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -o-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -o-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        -ms-linear-gradient(left, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        -ms-linear-gradient(left, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        -ms-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        -ms-linear-gradient(left, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
    background-image: 
        linear-gradient(to right, 
        rgba(255,255,255,0.07) 0%, 
        rgba(255,255,255,0.07) 50%, 
        transparent 50%),
        linear-gradient(to right, 
        rgba(255,255,255,0.13) 0%, 
        rgba(255,255,255,0.13) 50%, 
        transparent 50%),
        linear-gradient(to right, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.17) 50%),
        linear-gradient(to right, 
        transparent 0%, 
        transparent 50%, 
        rgba(255,255,255,0.19) 50%);
}
.bar-ext-stuning > span > span {
    display:block;
    height:100%;
    width:100%;

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-size: 12px;

    background-image: -moz-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
    background-image: -webkit-gradient(linear, left top, right top, 
        color-stop(0%,rgba(255,255,255,0.1)), 
        color-stop(50%,rgba(255,255,255,0.1)), 
        color-stop(50%,rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
    background-image: -o-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
    background-image: -ms-linear-gradient(left, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);	
    background-image: linear-gradient(to right, 
        rgba(255,255,255,0.1) 0%, 
        rgba(255,255,255,0.1) 50%, 
        transparent 50%);
}

.bar-st > .active {
    animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -webkit-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    -o-animation: progress 2s linear infinite;
}

@-webkit-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@-moz-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@-ms-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@-o-keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}
@keyframes progress {
    from {
    background-position: 0 0;
}
to {
    background-position: -60px -60px;
}
}

.bar-st > span {
    background-color: #2E8DEF;        
}

.bar-st.white > span{
    background-color: #FFFFFF;
}

.bar-st.black > span{
    background-color: #444444;
}

.bar-st.silver > span{
    background-color: #F1F1F1;
}

.bar-st.teal > span{
    background-color: #00A0B1;
}

.bar-st.win8 > span{
    background-color: #00CCFF;
}

.bar-st.blue > span{
    background-color: #2E8DEF;
}

.bar-st.purple > span{
    background-color: #A700AE;
}

.bar-st.purple-dark > span{
    background-color: #643EBF;
}

.bar-st.red > span{
    background-color: #BF1E4B;
}

.bar-st.orange > span{
    background-color: #DC572E;
}

.bar-st.green > span{
    background-color: #00A600;
}

.bar-st.sky > span{
    background-color: #0A5BC4;
}

.color-black{
    color: #222222;
}

.color-white{
    color: #FFFFFF;
}

.color-silver{
    color: #F1F1F1;
}

.color-silver-dark{
    color : #777777;
}

.color-win8{
    color: #00CCFF;
}

.color-teal{
    color: #00A0B1;
}

.color-blue{
    color: #2E8DEF;
}
.color-purple{
    color: #A700AE;
}
.color-purple-dark{
    color: #643EBF;
}
.color-red{
    color: #BF1E4B;
}
.color-orange{
    color: #DC572E;
}
.color-green{
    color: #00A600;
}
.color-sky{
    color: #0A5BC4;
}
