cache/**
development/**
source/template/switcher-demo/**
uc_client/data/cache/**
!uc_client/data/cache/index.htm
!cache/index.htm
!cache/tpl
!cache/cfg
!cache/sessions
!cache/tpl/index.htm
!cache/cfg/index.htm
!cache/sessions/index.htm
*_bak
*.bak
*.bak.php
*_bak.php
*.log
*.tmp
*_.*
*.psd
*.7z
*.rar
*.zip
Thumbs.db
config.inc.php
