cache/**
assets/**
development/**
source/template/switcher-demo/**
uc_client/data/cache/**
!uc_client/data/cache/index.htm
!cache/index.html
!cache/tpl
!cache/cfg
!cache/tpl/index.html
!cache/cfg/index.html
*_bak
*.bak
*.bak.php
*_bak.php
*.log
*.tmp
*_.*
*.psd
Thumbs.db
config.inc.php
