{extends 'common.html'}
{block subtitle}404错误{/block}
{block pagestyle}<link href="assets/admin/pages/css/error.css" rel="stylesheet" type="text/css" />{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/global/scripts/metronic.js"></script>
	<script type="text/javascript" src="assets/admin/layout/scripts/layout.js"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			Metronic.init();
			Layout.init();
		});
	</script>
{/block}
{block bodyclass}page-404-full-page{/block}
{block body}
<div class="row">
	<div class="col-md-12 page-404">
		<div class="number">404</div>
		<div class="details">
			<h3>无法找到该页</h3>
			<p>您正在搜索的页面可能已经删除、更名或暂时不可用</p>
			<p>您可以选择 [ <a href="javascript:window.location.reload()">重试</a> ] [ <a href="javascript:history.back()">返回</a> ] 或者 [ <a href="{$_G.siteroot}">回到首页</a> ]</p>
			<form action="{U main/search}">
				<div class="input-group input-medium">
					<input type="text" class="form-control" placeholder="关键字...">
					<span class="input-group-btn"><button type="submit" class="btn blue"><i class="fa fa-search"></i></button></span>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}