{extends 'common.html'}
{block subtitle}{lang activate} - {/block}
{block pagestyle}
<link href="assets/plugins/select2/select2_metro.css" rel="stylesheet" type="text/css" />
<link href="assets/css/pages/activate.css" rel="stylesheet" type="text/css"/>
{/block}
{block pageplugins}
<script type="text/javascript" src="assets/plugins/backstretch/jquery.backstretch.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/scripts/seccode.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/select2_locale_zh-CN.js"></script>
	<script type="text/javascript" src="assets/scripts/app.js"></script>
	<script type="text/javascript" src="{static 'assets/scripts/activate.js'}"></script>
{/block}
{block pagejs}
<script type="text/javascript">
		$(document).ready(function() {
			App.init();
			Activate.init();
		});
	</script>
{/block}
{block bodyextend} class="logging"{/block}
{block body}
	<!-- BEGIN LOGO --><div class="logo"><img src="{$_G['setting']['logopath']}" alt="{$_G['setting']['sitename']}" /></div><!-- END LOGO -->
	<div class="content">
		<!-- BEGIN ACTIVATE FORM -->
		<form class="activate-form" action="{$_G['basefilename']}?action=logging&operation=activate" method="post">
			{$ActivateToken}
			<h3 class="form-title">{lang activate}</h3>
			<p>{lang activate_complete_data}</p>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span>{lang activate_invalid}</span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">{lang username}</label>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang username}" name="username" value="{$_G['username']}" readonly />
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang email}</label>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang email}" name="email" value="{$_G['member']['email']}" readonly />
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang realname}</label>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang realname}" name="realname"/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang gender}</label>
				<select name="gender" id="gender" class="select2 form-control">
					<option value=""></option>
					<option value="1">{lang male}</option>
					<option value="2">{lang female}</option>
				</select>
			</div>

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang qq}</label>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang qq}" name="qq"/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang studentid}</label>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang studentid}" name="studentid"/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang grade}</label>
				<select name="grade" id="grade" class="select2 form-control">
					<option value=""></option>
					<option value="2010">2010</option>
					<option value="2011">2011</option>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang academy}</label>
				<select name="academy" id="academy" class="select2 form-control">
					<option value=""></option>
					<option value="2010">计算机科学与技术学院</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang specialty}</label>
				<select name="specialty" id="specialty" class="select2 form-control">
					<option value=""></option>
					<option value="2010">计算机科学与技术学院</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang class}</label>
				<select name="class" id="class" class="select2 form-control">
					<option value=""></option>
					<option value="2010">计算机科学与技术学院</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang league_organization}</label>
				<select name="league" id="league" class="select2 form-control" multiple>
					<option value=""></option>
					<option value="2010">计算机科学与技术学院</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">{lang department}</label>
				<select name="department" id="department" class="select2 form-control" multiple>
					<option value=""></option>
					<option value="2010">计算机科学与技术学院</option>
				</select>
			</div>
			{if need_seccode('Activate')}
			<div class="form-group verifycode">
				<label class="control-label visible-ie8 visible-ie9">{lang verifycode}</label>
				<input class="form-control placeholder-no-fix" type="text" maxlength="{$_G['setting']['seccodedata']['length']}" autocomplete="off" placeholder="{lang verifycode}" name="verifycode" required />
				<a href="javascript:;" style="right"><img src="{$_G['basefilename']}?action=seccode&tag={$ActivateTokenHash}&width=80&height=26" width="80" height="26" alt="{lang verifycode_tip}" /></a>
			</div>
			{/if}
			<div class="form-actions"><button type="submit" class="btn blue pull-right"> {lang activate}<i class="m-icon-swapright m-icon-white"></i></button></div>
			<div class="forget-password">
				<h4>Forgot your password ?</h4>
				<p>
					no worries, click <a href="javascript:;"  id="forget-password">here</a>
					to reset your password.
				</p>
			</div>
			<div class="create-account">
				<p>
					Don't have an account yet ?&nbsp; 
					<a href="javascript:;" id="register-btn" >Create an account</a>
				</p>
			</div>
		</form>
		<!-- END ACTIVATE FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		2013 &copy; Metronic - Admin Dashboard Template.
	</div>
	<!-- END COPYRIGHT -->
{/block}