{extends 'common.html'}
{block subtitle}{lang login}{/block}
{block pagestyle}
<link href="assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
<link href="assets/admin/pages/css/logging.css" rel="stylesheet" type="text/css" />
{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/global/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="assets/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="{static 'assets/global/scripts/seccode.js'}"></script>
	<script type="text/javascript" src="assets/global/scripts/metronic.js"></script>
	<script type="text/javascript" src="assets/admin/layout/scripts/layout.js"></script>
	<script type="text/javascript" src="assets/admin/layout/scripts/quick-sidebar.js"></script>
	<script type="text/javascript" src="{static 'assets/admin/pages/scripts/logging.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			Metronic.init();
			Layout.init();
			QuickSidebar.init();
			Logging.init();
		});
	</script>
{/block}
{block bodyclass}logging{/block}
{block body}
	<!-- BEGIN LOGO --><div class="logo"><img src="{$_G['setting']['logopath']}" alt="{$_G['setting']['sitename']}" /></div><!-- END LOGO -->
	<!-- BEGIN LOGGING -->
	<div class="content">
		{block logging}{/block}
	</div>
	<!-- END LOGGING -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		<p>{$_G['setting']['copyright']}</p>
		<p>{template debuginfo}</p>
	</div>
	<!-- END COPYRIGHT -->
{/block}