<!-- BEGIN CORE PLUGINS -->
	{js assets/plugins/jquery-1.10.1.min.js}
	{js assets/plugins/jquery-migrate-1.2.1.min.js}
	{js assets/plugins/jquery.easing.1.3.js}
	{js assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}
	{js assets/plugins/bootstrap/js/bootstrap.min.js}
	{js assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js}
	<!--[if lt IE 9]>
	{js assets/plugins/excanvas.min.js}
	{js assets/plugins/respond.min.js}
	<![endif]-->
	{js assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}
	{js assets/plugins/jquery.blockui.min.js}
	{js assets/plugins/jquery.cookie.min.js}
	{js assets/plugins/uniform/jquery.uniform.min.js}
	{js assets/scripts/common.js}
	<!-- END CORE PLUGINS -->