{extends 'common_main.html'}
{block subtitle}{lang nav/time}{/block}
{block pagestyle}
<link rel="stylesheet" type="text/css" href="assets/global/plugins/select2/select2.css" />
{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/global/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="assets/global/plugins/select2/select2_locale_zh-CN.js"></script>
	<script type="text/javascript" src="{static 'assets/admin/pages/scripts/global.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			Metronic.init();
			Layout.init();
			//IdleTimeout.init();
			Global.initDatatime();
		});
	</script>
{/block}
{block pgcontent}
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption"><i class="fa fa-reorder"></i>日期和时间格式</div>
				</div>
				<div class="portlet-body form">
					<form action="{U global/time}" class="form-horizontal form-row-seperated">
						<div class="form-body">
							<div class="form-group">
								<label class="control-label col-md-3">默认日期格式<span class="required">*</span></label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="dateformat" value="{nocache}{dateformat($_G.setting.dateformat)}{/nocache}" />
									<span class="help-block">使用 yyyy(yy) 表示年，mm 表示月，dd 表示天。如 yyyy-mm-dd 表示 2000-1-1，yyyy-m-d 则表示 2000-01-01</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">默认时间格式<span class="required">*</span></label>
								<div class="col-md-9">
									<div class="radio-list">
										<label class="radio-inline"><input type="radio" name="timeformat" value="24"{nocache}{if $_G.setting.timeformat=='H:i'} checked{/if}{/nocache} /> 24 小时制</label>
										<label class="radio-inline"><input type="radio" name="timeformat" value="12"{nocache}{if $_G.setting.timeformat!='H:i'} checked{/if}{/nocache} /> 12 小时制</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">人性化时间格式<span class="required">*</span></label>
								<div class="col-md-9">
									<div class="radio-list">
										<label class="radio-inline"><input type="radio" name="dateconvert" value="1"{nocache}{if $_G.setting.dateconvert} checked{/if}{/nocache} /> 是</label>
										<label class="radio-inline"><input type="radio" name="dateconvert" value="0"{nocache}{if !$_G.setting.dateconvert} checked{/if}{/nocache} /> 否</label>
									</div>
									<span class="help-block">选择“是”，站点中的时间将显示以“n分钟前”、“昨天”、“n天前”等形式显示</span>
								</div>
							</div>
							<div class="form-group last">
								<label class="control-label col-md-3">默认时差<span class="required">*</span></label>
								<div class="col-md-9">
									<div class="input-group">
										<input type="hidden" id="timeoffset" class="form-control input-medium" value="{nocache}{dateformat($_G.setting.timeoffset)}{/nocache}" />
										<input type="text" name="timeoffset" class="form-control input-xsmall" value="{nocache}{dateformat($_G.setting.timeoffset)}{/nocache}" />
									</div>
									<span class="help-block">当地时间与 GMT 的时差。遇夏制时的情况也可以手动输入，如：-7.5</span>
								</div>
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green"><i class="fa fa-pencil"></i> 提交</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
{/block}