{extends 'common_main.html'}
{block subtitle}{lang nav/seccheck}{/block}
{block pagestyle}{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery-validation/dist/additional-methods.min.js"></script>
	<script type="text/javascript" src="{static 'assets/scripts/seccode.js'}"></script>
	<script type="text/javascript" src="{static 'assets/scripts/global.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			App.init();
			//IdleTimeout.init();
			Global.initSeccheck();
		});
	</script>
{/block}
{block pgcontent}
			<div id="alert-modal" class="modal fade" tabindex="-1" data-backdrop="static">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">提示信息</h4>
				</div>
				<div class="modal-body">
					<div class="row"><div class="col-md-12"></div></div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn blue">确定</button>
				</div>
			</div>
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption"><i class="fa fa-reorder"></i>{lang nav/seccheck}</div>
				</div>
				<div class="portlet-body form">
					<form action="{U global/access}" id="secform" class="form-horizontal form-row-seperated">
						<div class="form-body">
							<div class="form-group">
								<label class="control-label col-md-3">启用验证码</label>
								<div class="col-md-9">
									<div class="checkbox-list">
										<label><input type="checkbox" name="secopn[]" value="Login"{nocache}{if in_array('Login', $_G.setting.seccodestatus)} checked{/if}{/nocache} /> 用户登录</label>
										<label><input type="checkbox" name="secopn[]" value="Register"{nocache}{if in_array('Register', $_G.setting.seccodestatus)} checked{/if}{/nocache} /> 用户注册</label>
										<label><input type="checkbox" name="secopn[]" value="ForgotPwd"{nocache}{if in_array('ForgotPwd', $_G.setting.seccodestatus)} checked{/if}{/nocache} /> 找回密码</label>
										<label><input type="checkbox" name="secopn[]" value="Activate"{nocache}{if in_array('Activate', $_G.setting.seccodestatus)} checked{/if}{/nocache} /> 激活账号</label>
										<label><input type="checkbox" name="secopn[]" value="cgpwd"{nocache}{if in_array('cgpwd', $_G.setting.seccodestatus)} checked{/if}{/nocache} /> 修改密码</label>
									</div>
									<span class="help-block">设置各个操作中验证码的启用与否</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">验证码预览</label>
								<div class="col-md-9">
									<div class="input-icon right">
										<i class="fa fa-remove"></i>
										<input type="text" class="form-control" id="verifycode" maxlength="{$_G.setting.seccodedata.length}" value="" />
									</div>
									<span class="help-block">更新验证码设置后，您需要手动更换验证码才能看到效果</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">验证码类型<span class="required">*</span></label>
								<div class="col-md-9">
									<div class="radio-list">
										<label><input type="radio" name="sectype" value="0"{nocache}{if $_G.setting.seccodedata.type==0} checked{/if}{/nocache} /> 英文图片验证码</label>
										<label><input type="radio" name="sectype" value="1"{nocache}{if $_G.setting.seccodedata.type==1} checked{/if}{/nocache} /> 中文图片验证码</label>
										<label><input type="radio" name="sectype" value="2"{nocache}{if $_G.setting.seccodedata.type==2} checked{/if}{/nocache} /> Flash 验证码</label>
										<label><input type="radio" name="sectype" value="3"{nocache}{if $_G.setting.seccodedata.type==3} checked{/if}{/nocache} /> 语音验证码</label>
										<label><input type="radio" name="sectype" value="4"{nocache}{if $_G.setting.seccodedata.type==4} checked{/if}{/nocache} /> 位图验证码</label>
									</div>
									<span class="help-block">设置验证码的类型。中文图片验证码需要您的主机支持 FreeType 库。要显示 Flash 验证码，建议您的主机支持 Ming 库以提高安全性</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">验证码长度<span class="required">*</span></label>
								<div class="col-md-9">
									<input type="text" class="form-control" name="seclength" value="{nocache}{$_G.setting.seccodedata.length}{/nocache}" />
									<span class="help-block">设置验证码的长度，验证码类型为中文图片验证码建议设置的不少于2个，其他情况下不少于4个</span>
								</div>
							</div>
							<div id="secpicsize">
								<div class="form-group">
									<label class="control-label col-md-3">验证码图片宽度<span class="required">*</span></label>
									<div class="col-md-9">
										<input type="text" class="form-control" name="secwidth" value="{nocache}{$_G.setting.seccodedata.width}{/nocache}" />
										<span class="help-block">验证码图片的宽度，范围在 100～200 之间。默认 150</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">验证码图片高度<span class="required">*</span></label>
									<div class="col-md-9">
										<input type="text" class="form-control" name="secheight" value="{nocache}{$_G.setting.seccodedata.height}{/nocache}" />
										<span class="help-block">验证码图片的高度，范围在 30～80 之间。默认 60</span>
									</div>
								</div>
							</div>
							<div id="secpicprop">
								<div class="form-group">
									<label class="control-label col-md-3">图片打散<span class="required">*</span></label>
									<div class="col-md-9">
										<input type="text" class="form-control" name="secscatter" value="{nocache}{$_G.setting.seccodedata.scatter}{/nocache}" />
										<span class="help-block">打散生成的验证码图片，输入打散的级别，0 为不打散</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机图片背景<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secbackground" value="1"{nocache}{if $_G.setting.seccodedata.background} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secbackground" value="0"{nocache}{if !$_G.setting.seccodedata.background} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将随机使用 static/image/seccode/background/ 目录下的 JPG 图片作为验证码的背景图片，选择“否”将使用随机的背景色</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机背景图形<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secadulterate" value="1"{nocache}{if $_G.setting.seccodedata.adulterate} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secadulterate" value="0"{nocache}{if !$_G.setting.seccodedata.adulterate} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将给验证码背景增加随机的图形</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机 TTF 字体<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secttf" value="1"{nocache}{if $_G.setting.seccodedata.ttf} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secttf" value="0"{nocache}{if !$_G.setting.seccodedata.ttf} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将随机使用 static/image/seccode/font/en/ 目录下的 TTF 字体文件生成验证码文字，选择“否”将随机使用 static/image/seccode/gif/ 目录中的 GIF 图片生成验证码文字。中文图片验证码将随机使用 static/image/seccode/font/ch/ 目录下的 TTF 字体文件，无需进行此设置</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机倾斜度<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secangle" value="1"{nocache}{if $_G.setting.seccodedata.angle} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secangle" value="0"{nocache}{if !$_G.setting.seccodedata.angle} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将给验证码文字增加随机的倾斜度，本设置只针对 TTF 字体的验证码</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机扭曲<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secwarping" value="1"{nocache}{if $_G.setting.seccodedata.warping} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secwarping" value="0"{nocache}{if !$_G.setting.seccodedata.warping} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将给验证码文字增加随机的扭曲，本设置只针对 TTF 字体的验证码</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机颜色<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="seccolor" value="1"{nocache}{if $_G.setting.seccodedata.color} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="seccolor" value="0"{nocache}{if !$_G.setting.seccodedata.color} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将给验证码的背景图形和文字增加随机的颜色</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">随机大小<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secsize" value="1"{nocache}{if $_G.setting.seccodedata.size} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secsize" value="0"{nocache}{if !$_G.setting.seccodedata.size} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”验证码文字的大小随机显示</span>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3">文字阴影<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secshadow" value="1"{nocache}{if $_G.setting.seccodedata.shadow} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secshadow" value="0"{nocache}{if !$_G.setting.seccodedata.shadow} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”将给验证码文字增加阴影</span>
									</div>
								</div>
								<div class="form-group last">
									<label class="control-label col-md-3">GIF 动画<span class="required">*</span></label>
									<div class="col-md-9">
										<div class="radio-list">
											<label class="radio-inline"><input type="radio" name="secanimator" value="1"{nocache}{if $_G.setting.seccodedata.animator} checked{/if}{/nocache} /> 是</label>
											<label class="radio-inline"><input type="radio" name="secanimator" value="0"{nocache}{if !$_G.setting.seccodedata.animator} checked{/if}{/nocache} /> 否</label>
										</div>
										<span class="help-block">选择“是”验证码将显示成 GIF 动画方式，选择“否”验证码将显示成静态图片方式</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions fluid">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green"><i class="fa fa-pencil"></i> 提交</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
{/block}