{template header}
<!-- BEGIN PAGE LEVEL STYLES -->
{css assets/css/pages/login.css}
<!-- END PAGE LEVEL SCRIPTS -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo"><img src="{$_G['setting']['logopath']}" alt="{$_G['setting']['sitename']}" /></div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="form-vertical login-form" action="{$_G['basefilename']}?action=logging" method="post">
			{$LoginToken}
			<h3 class="form-title">{lang login_heading}</h3>
			<div class="alert alert-block alert-error fade-in{if !$errmsg} hide{/if}">
				<button type="button" class="close" data-dismiss="alert"></button>
				<h4 class="alert-heading"><strong>{lang login_failed}</strong></h4><span>{$errmsg}</span>
			</div>
			{if !empty($logintip)}
			<div class="alert alert-block alert-info fade-in">
				<button type="button" class="close" data-dismiss="alert"></button>
				<h4 class="alert-heading"><strong>{lang login_tip}</strong></h4><span>{$logintip}</span>
			</div>
			{/if}
			<div class="control-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">{lang username}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang username}" name="username" value="{if isset($_POST['username'])}{$_POST['username']}{/if}" required />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang password}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" placeholder="{lang password}" name="password" required />
					</div>
				</div>
			</div>
			{if need_seccode('Login')}
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang verifycode}</label>
				<div class="controls">
					<div class="input-icon left verifycode">
						<i class="icon-picture"></i>
						<input class="m-wrap placeholder-no-fix" type="text" maxlength="4" autocomplete="off" placeholder="{lang verifycode}" name="verifycode" required />
						<a href="javascript:;" style="right"><img src="{$_G['basefilename']}?action=seccode&tag={$LoginTokenHash}&width=80&height=26" width="80" height="26" alt="{lang verifycode_tip}" /></a>
					</div>
				</div>
			</div>
			{/if}
			<div class="form-actions">
				<button type="submit" class="btn green pull-right">
					{lang login_button} <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>
			<div class="forget-password">
				<h4>{lang forgot_pwd}</h4>
				<p><a href="javascript:;" id="forget-password">{lang forgot_pwd_link}</a></p>
			</div>
			<div class="create-account">
				<p>{lang no_account}&nbsp;<a href="javascript:;" id="register-btn">{lang register}</a></p>
			</div>
		</form>
		<!-- END LOGIN FORM -->        
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="form-vertical forget-form" action="{$_G['basefilename']}?action=logging" method="post">
			{$ForgotPwdToken}
			<h3>{lang forgot_pwd}</h3>
			<p>{lang forgot_pwd_tip}</p>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang username}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang username}" name="username" value="{if isset($_POST['username'])}{$_POST['username']}{/if}" required />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang qq}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" maxlength="10" autocomplete="off" placeholder="{lang qq}" name="qq" required />
					</div>
				</div>
			</div>
			{if need_seccode('ForgotPwd')}
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang verifycode}</label>
				<div class="controls">
					<div class="input-icon left verifycode">
						<i class="icon-picture"></i>
						<input class="m-wrap placeholder-no-fix" type="text" maxlength="4" autocomplete="off" placeholder="{lang verifycode}" name="verifycode" required />
						<a href="javascript:;" style="right"><img src="{$_G['basefilename']}?action=seccode&tag={$ForgotPwdTokenHash}&width=80&height=26" width="80" height="26" alt="{lang verifycode_tip}" /></a>
					</div>
				</div>
			</div>
			{/if}
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn">
				<i class="m-icon-swapleft"></i> {lang back}
				</button>
				<button type="submit" class="btn green pull-right">
				{lang submit} <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>
		</form>
		<!-- END FORGOT PASSWORD FORM -->
		<!-- BEGIN REGISTRATION FORM -->
		<form class="form-vertical register-form" action="{$_G['basefilename']}?action=logging" method="post">
			{$RegisterToken}
			<h3>{lang signup}</h3>
			{if $_G['setting']['reg']}
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang username}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="{lang username}" name="username" value="{if isset($_POST['username'])}{$_POST['username']}{/if}" required />
					</div>
				</div>
			</div>
			<div class="control-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Email</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-envelope"></i>
						<input class="m-wrap placeholder-no-fix" type="text" placeholder="Email" name="email"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang password}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="{lang password}" name="password" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang rpassword}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-ok"></i>
						<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" placeholder="{lang rpassword}" name="rpassword" />
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang qq}</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" maxlength="10" autocomplete="off" placeholder="{lang qq}" name="qq" required />
					</div>
				</div>
			</div>
			{if need_seccode('Register')}
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">{lang verifycode}</label>
				<div class="controls">
					<div class="input-icon left verifycode">
						<i class="icon-picture"></i>
						<input class="m-wrap placeholder-no-fix" type="text" maxlength="4" autocomplete="off" placeholder="{lang verifycode}" name="verifycode" required />
						<a href="javascript:;" style="right"><img src="{$_G['basefilename']}?action=seccode&tag={$RegisterTokenHash}&width=80&height=26" width="80" height="26" alt="{lang verifycode_tip}" /></a>
					</div>
				</div>
			</div>
			{/if}
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
					<input type="checkbox" name="tnc"/> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
					</label>  
					<div id="register_tnc_error"></div>
				</div>
			</div>
			{else}
			<div class="note note-error" style="margin-top:24px">
				<h4 class="block">{lang regclosed}</h4>
				<p>{$_G['setting']['regclosed']}</p>
			</div>
			{/if}
			<div class="form-actions">
				<button id="register-back-btn" type="button" class="btn">
				<i class="m-icon-swapleft"></i> {lang back}
				</button>
				{if $_G['setting']['reg']}
				<button type="submit" id="register-submit-btn" class="btn green pull-right">
				{lang signup} <i class="m-icon-swapright m-icon-white"></i>
				</button>
				{/if}
			</div>
		</form>
		<!-- END REGISTRATION FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		<p><script type="text/javascript">document.write((new Date()).getFullYear());</script> &copy; {$_G['setting']['copyright']}</p>
		<p>{template debuginfo}</p>
	</div>
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	{template corejs}
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	{js assets/plugins/jquery-validation/dist/jquery.validate.min.js}
	{js assets/plugins/select2/select2.min.js}
	{js assets/scripts/seccode.js}
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	{js assets/scripts/app.js}
	{js assets/scripts/login.js}
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		$(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
{template footer}