{extends 'common_main.html'}
{block subtitle}{lang nav/home}{/block}
{block pagestyle}
<link href="assets/css/pages/tasks.css" rel="stylesheet" type="text/css" />
<link href="assets/css/pages/index.css" rel="stylesheet" type="text/css" />
{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/plugins/tokenscroller.js"></script>
	<script type="text/javascript" src="assets/plugins/flot/jquery.flot.js"></script>
	<script type="text/javascript" src="assets/plugins/flot/jquery.flot.resize.js"></script>
	<script type="text/javascript" src="assets/plugins/flot/jquery.flot.categories.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.sparkline.min.js"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		var EcommerceIndex = function () {

		    function showTooltip(x, y, labelX, labelY) {
		        $('<div id="tooltip" class="chart-tooltip">' + (labelY.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')) + 'USD<\/div>').css({
		            position: 'absolute',
		            display: 'none',
		            top: y - 40,
		            left: x - 60,
		            border: '0px solid #ccc',
		            padding: '2px 6px',
		            'background-color': '#fff',
		        }).appendTo("body").fadeIn(200);
		    }

		    var initChart1 = function () {

		        var data = [
		            ['01/2013', 0],
		            ['02/2013', 8],
		            ['03/2013', 10],
		            ['04/2013', 12],
		            ['05/2013', 2125],
		            ['06/2013', 324],
		            ['07/2013', 1223],
		            ['08/2013', 1365],
		            ['09/2013', 250],
		            ['10/2013', 999],
		            ['11/2013', 390],
		        ];

		            var plot_statistics = $.plot(
		                $("#statistics_1"), 
		                [
		                    {
		                        data:data,
		                        lines: {
		                            fill: 0.6,
		                            lineWidth: 0,
		                        },
		                        color: ['#f89f9f']
		                    },
		                    {
		                        data: data,
		                        points: {
		                            show: true,
		                            fill: true,
		                            radius: 5,
		                            fillColor: "#f89f9f",
		                            lineWidth: 3
		                        },
		                        color: '#fff',
		                        shadowSize: 0
		                    },
		                ], 
		                {

		                    xaxis: {
		                        tickLength: 0,
		                        tickDecimals: 0,                        
		                        mode: "categories",
		                        min: 2,
		                        font: {
		                            lineHeight: 15,
		                            style: "normal",
		                            variant: "small-caps",
		                            color: "#6F7B8A"
		                        }
		                    },
		                    yaxis: {
		                        ticks: 3,
		                        tickDecimals: 0,
		                        tickColor: "#f0f0f0",
		                        font: {
		                            lineHeight: 15,
		                            style: "normal",
		                            variant: "small-caps",
		                            color: "#6F7B8A"
		                        }
		                    },
		                    grid: {
		                        backgroundColor: {
		                            colors: ["#fff", "#fff"]
		                        },
		                        borderWidth: 1,
		                        borderColor: "#f0f0f0",
		                        margin: 0,
		                        minBorderMargin: 0,
		                        labelMargin: 20,
		                        hoverable: true,
		                        clickable: true,
		                        mouseActiveRadius: 6
		                    },
		                    legend: {
		                        show: false
		                    }
		                }
		            );

		            var previousPoint = null;

		            $("#statistics_1").bind("plothover", function (event, pos, item) {
		                $("#x").text(pos.x.toFixed(2));
		                $("#y").text(pos.y.toFixed(2));
		                if (item) {
		                    if (previousPoint != item.dataIndex) {
		                        previousPoint = item.dataIndex;

		                        $("#tooltip").remove();
		                        var x = item.datapoint[0].toFixed(2),
		                            y = item.datapoint[1].toFixed(2);

		                        showTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1]);
		                    }
		                } else {
		                    $("#tooltip").remove();
		                    previousPoint = null;
		                }
		            });

		    }

		    var initChart2 = function() {

		        var data = [
		            ['01/2013', 10],
		            ['02/2013', 0],
		            ['03/2013', 10],
		            ['04/2013', 12],
		            ['05/2013', 212],
		            ['06/2013', 324],
		            ['07/2013', 122],
		            ['08/2013', 136],
		            ['09/2013', 250],
		            ['10/2013', 99],
		            ['11/2013', 190],
		        ];

		            var plot_statistics = $.plot(
		                $("#statistics_2"), 
		                [
		                    {
		                        data:data,
		                        lines: {
		                            fill: 0.6,
		                            lineWidth: 0,
		                        },
		                        color: ['#BAD9F5']
		                    },
		                    {
		                        data: data,
		                        points: {
		                            show: true,
		                            fill: true,
		                            radius: 5,
		                            fillColor: "#BAD9F5",
		                            lineWidth: 3
		                        },
		                        color: '#fff',
		                        shadowSize: 0
		                    },
		                ], 
		                {

		                    xaxis: {
		                        tickLength: 0,
		                        tickDecimals: 0,                        
		                        mode: "categories",
		                        min: 2,
		                        font: {
		                            lineHeight: 14,
		                            style: "normal",
		                            variant: "small-caps",
		                            color: "#6F7B8A"
		                        }
		                    },
		                    yaxis: {
		                        ticks: 3,
		                        tickDecimals: 0,
		                        tickColor: "#f0f0f0",
		                        font: {
		                            lineHeight: 14,
		                            style: "normal",
		                            variant: "small-caps",
		                            color: "#6F7B8A"
		                        }
		                    },
		                    grid: {
		                        backgroundColor: {
		                            colors: ["#fff", "#fff"]
		                        },
		                        borderWidth: 1,
		                        borderColor: "#f0f0f0",
		                        margin: 0,
		                        minBorderMargin: 0,
		                        labelMargin: 20,
		                        hoverable: true,
		                        clickable: true,
		                        mouseActiveRadius: 6
		                    },
		                    legend: {
		                        show: false
		                    }
		                }
		            );

		            var previousPoint = null;

		            $("#statistics_2").bind("plothover", function (event, pos, item) {
		                $("#x").text(pos.x.toFixed(2));
		                $("#y").text(pos.y.toFixed(2));
		                if (item) {
		                    if (previousPoint != item.dataIndex) {
		                        previousPoint = item.dataIndex;

		                        $("#tooltip").remove();
		                        var x = item.datapoint[0].toFixed(2),
		                            y = item.datapoint[1].toFixed(2);

		                       showTooltip(item.pageX, item.pageY, item.datapoint[0], item.datapoint[1]);
		                    }
		                } else {
		                    $("#tooltip").remove();
		                    previousPoint = null;
		                }
		            });

		    }

		    return {

		        //main function
		        init: function () {
		            initChart1();

		            $('#statistics_amounts_tab').on('shown.bs.tab', function (e) {
		                initChart2();
		            });
		        }

		    };

		}();
		$(document).ready(function() {
			//announcement();
			$("#annbody").scroller({
				easing: "easeOutBounce"
			});
			App.init();
			EcommerceIndex.init();
			//IdleTimeout.init();
		});
	</script>
{/block}
{block pgcontent}
			{if !empty($announcement)}
			<div id="ann">
				<dl>
					<dt>{lang announcements}:</dt>
					<dd>
						<div id="annbody"><ul id="annbodylis">
							{foreach $announcement as $ann}
							<li><a href="{if $ann.type==2}{$ann.message}{else}javascript:showann({$ann.id}){/if}"{if $ann.type==2} target="_blank"{/if}>{$ann.subject}{if $ann.starttime>0}<em>({dgmdate($ann.starttime, 'd')})</em>{/if}</a></li>
							{/foreach}
						</ul></div>
					</dd>
				</dl>
			</div>
			{/if}
			<!-- BEGIN DASHBOARD STATS -->
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="dashboard-stat blue">
						<div class="visual">
							<i class="fa fa-bar-chart-o"></i>
						</div>
						<div class="details">
							<div class="number">{$manhour|default:0}</div>
							<div class="desc">工时总数</div>
						</div>
						<a class="more" href="#">查看详情 <i class="m-icon-swapright m-icon-white"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="dashboard-stat purple">
						<div class="visual">
							<i class="fa fa-globe"></i>
						</div>
						<div class="details">
							<div class="number">{$rank}</div>
							<div class="desc">工时排名</div>
						</div>
						<a class="more" href="#">查看详情 <i class="m-icon-swapright m-icon-white"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="dashboard-stat yellow">
						<div class="visual">
							<i class="fa fa-sign-in"></i>
						</div>
						<div class="details">
							<div class="number lastlogin">{nocache}{dgmdate($_G.member.lastlogin, 'd')}{/nocache}</div>
							<div class="desc">上次登录</div>
						</div>
						<a class="more">{nocache}{dgmdate($_G.member.lastlogin, 'dt')}{/nocache}</a>
					</div>
				</div>
				<!--{*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="dashboard-stat green">
						<div class="visual">
							<i class="fa fa-group"></i>
						</div>
						<div class="details">
							<div class="number">{nocache}{if empty($onlinenum)}?{else}{$onlinenum}{/if}{/nocache}</div>
							<div class="desc">当前在线</div>
						</div>
						<a class="more" href="#">查看详情 <i class="m-icon-swapright m-icon-white"></i></a>
					</div>
				</div>*}-->
			</div>
			<!-- END DASHBOARD STATS -->
			<div class="row">
				<div class="col-md-6">
					<!-- Begin: life time stats -->
					<div class="portlet box yellow">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-thumb-tack"></i> 工时排行 (TOP10)
							</div>
						</div>
						<div class="portlet-body table-responsive">
							<table class="table table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>排名</th>
										<th>用户</th>
										<th>工时</th>
									</tr>
								</thead>
								<tbody>
									{foreach $topmh as $rank=>$mh}
									<tr>
										<td>{$rank+1}</td>
										<td>{$mh.username}</td>
										<td>{$mh.manhour}</td>
									</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
					</div>
					<!-- End: life time stats -->
				</div>
				<div class="col-md-6">
					<!-- Begin: life time stats -->
					<div class="portlet box blue tabbable">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bar-chart-o"></i>Revenue
							</div>
							<div class="tools">
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="javascript:;" class="reload">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="portlet-tabs">
								<ul class="nav nav-tabs" style="margin-right: 50px">
									<li>
										<a href="#portlet_tab2" data-toggle="tab" id="statistics_amounts_tab">
											 Amounts
										</a>
									</li>
									<li class="active">
										<a href="#portlet_tab1" data-toggle="tab">
											 Orders
										</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="portlet_tab1">
										<div id="statistics_1" class="chart">
										</div>
									</div>
									<div class="tab-pane" id="portlet_tab2">
										<div id="statistics_2" class="chart">
										</div>
									</div>
								</div>
							</div>
							<div class="well no-margin no-border">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6 text-stat">
										<span class="label label-success">
											 Revenue:
										</span>
										<h3>$1,234,112.20</h3>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 text-stat">
										<span class="label label-info">
											 Tax:
										</span>
										<h3>$134,90.10</h3>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 text-stat">
										<span class="label label-danger">
											 Shipment:
										</span>
										<h3>$1,134,90.10</h3>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6 text-stat">
										<span class="label label-warning">
											 Orders:
										</span>
										<h3>235090</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End: life time stats -->
				</div>
			</div>
{/block}