{extends 'common_main.html'}
{block subtitle}{lang nav/importmh}{/block}
{block pagestyle}
<link rel="stylesheet" type="text/css" href="assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
<link rel="stylesheet" type="text/css" href="assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="assets/global/plugins/select2/select2.css" />
{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/global/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="assets/global/plugins/select2/select2_locale_zh-CN.js"></script>
	<script type="text/javascript" src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
	<script type="text/javascript" src="assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="{static 'assets/admin/pages/scripts/manhour.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			Metronic.init();
			Layout.init();
			//IdleTimeout.init();
			Manhour.initimportmh();
		});
	</script>
{/block}
{block pgcontent}
			<div id="alert-modal" class="modal fade" tabindex="-1" data-backdrop="static">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">提示信息</h4>
				</div>
				<div class="modal-body">
					<div class="row"><div class="col-md-12"></div></div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn blue">确定</button>
				</div>
			</div>
			<div class="portlet box blue-hoki">
				<div class="portlet-title">
					<div class="caption"><i class="fa fa-user"></i> 导入工时</div>
				</div>
				<div class="portlet-body form" id="importmh">
					<div class="note note-warning">
						<h4 class="block">注意</h4>
						<ul>
							<li>一次只能导入一个表格</li>
							<li>一个电子表格记录的必须是同一个活动的工时</li>
							<li>上传的电子表格单元格布局必须与样表一致</li>
						</ul>
					</div>
					<form action="{U 'api/importmh?inajax=1'}" class="form-horizontal">
						<div class="form-body">
							<div class="form-group">
								<label class="control-label col-md-3">活动<span class="required">*</span></label>
								<div class="col-md-5">
									<select class="select2 form-control" id="aid" name="aid" required><option value=""></option></select>
									<span class="help-block">若列表中无期望的活动，请到 <a href="{U mhdict/activity}">内容 &raquo; 活动列表</a> 中添加对应的活动后再尝试导入</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">时间<span class="required">*</span></label>
								<div class="col-md-5">
									<div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="-6m" data-date-end-date="+1d">
										<input type="text" name="time" class="form-control" required />
										<span class="input-group-btn"><button class="btn default" type="button"><i class="fa fa-calendar"></i></button></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">文件<span class="required">*</span></label>
								<div class="col-md-5">
									<input type="file" id="mh_excel" name="mh_excel" accept=".xls,.xlsx" required />
									<span class="help-block">仅支持 Excel 电子表格 (.xls, .xlsx)，内容布局与样表一致</span>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn blue">提交</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
{/block}