{extends 'common_main.html'}
{block subtitle}{lang nav/user}{/block}
{block pagestyle}
<link rel="stylesheet" type="text/css" href="assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
<link rel="stylesheet" type="text/css" href="assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="assets/global/plugins/select2/select2.css" />
<link rel="stylesheet" type="text/css" href="assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
<style type="text/css" media="screen">
#users tr, #users td {
	vertical-align: middle;
}
</style>
{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
	<script type="text/javascript" src="assets/global/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="assets/global/plugins/select2/select2_locale_zh-CN.js"></script>
	<script type="text/javascript" src="assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="assets/global/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
	<script type="text/javascript" src="assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="{static 'assets/admin/pages/scripts/members.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			Metronic.init();
			Layout.init();
			//IdleTimeout.init();
			Members.init();
		});
	</script>
{/block}
{block pgcontent}
			<div id="alert-modal" class="modal fade" tabindex="-1" data-backdrop="static">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">提示信息</h4>
				</div>
				<div class="modal-body">
					<div class="row"><div class="col-md-12"></div></div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn blue">确定</button>
				</div>
			</div>
			<div id="user-modal" class="modal fade modal-scroll" tabindex="-1" data-width="760">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">编辑用户</h4>
				</div>
				<div class="modal-body">
					<form action="{U 'members/user?inajax=1'}" class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">用户名</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="username" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">真实姓名</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="realname" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">性别</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="gender" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">QQ号</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="qq" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">Email</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="email" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">学号</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="studentid" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">年级</label>
							<div class="col-xs-9 col-sm-10"><select name="grade" class="select2 form-control"><option value=""></option></select></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">学院</label>
							<div class="col-xs-9 col-sm-10"><select name="academy" class="select2 form-control"><option value=""></option></select></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">专业</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="specialty" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">班级</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="class" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">社团</label>
							<div class="col-xs-9 col-sm-10"><input type="hidden" name="league[]" class="select2 form-control" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">部门</label>
							<div class="col-xs-9 col-sm-10"><input type="hidden" name="department[]" class="select2 form-control" /></div>
						</div>
						<div class="form-group">
							<label class="control-label col-xs-3 col-sm-2">手机</label>
							<div class="col-xs-9 col-sm-10"><input type="text" class="form-control" name="mobile" /></div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn red">确定</button>
					<button type="button" data-dismiss="modal" class="btn default">取消</button>
				</div>
			</div>
			<div id="deluser-confirm" class="modal fade modal-scroll" tabindex="-1" data-width="760">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">确认删除用户</h4>
				</div>
				<div class="modal-body">
					<div class="note note-danger">
						<h4 class="block">警告</h4>
						<p>你正在请求删除用户 <em>efe</em>！<br />该操作将不可恢复，确认要继续删除吗？</p>
					</div>
					<label><input type="checkbox" /> 同时从 UCenter 删除用户数据</label>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn red">删除</button>
					<button type="button" data-dismiss="modal" class="btn default">取消</button>
				</div>
			</div>
			<div class="portlet box blue-hoki">
				<div class="portlet-title">
					<div class="caption"><i class="fa fa-user"></i> 用户管理</div>
					<div class="actions">
						<div class="btn-group">
							<a class="btn default" href="#" data-toggle="dropdown">显示列 <i class="fa fa-angle-down"></i></a>
							<div id="column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
								<label><input type="checkbox" data-column="avatar" checked>头像</label>
								<label><input type="checkbox" data-column="uid" checked>UID</label>
								<label><input type="checkbox" data-column="username" checked>用户名</label>
								<label><input type="checkbox" data-column="realname" checked>真实姓名</label>
								<label><input type="checkbox" data-column="gender" checked>性别</label>
								<label><input type="checkbox" data-column="qq" checked>QQ号</label>
								<label><input type="checkbox" data-column="email" checked>Email</label>
								<label><input type="checkbox" data-column="manhour" checked>总工时</label>
								<label><input type="checkbox" data-column="studentid" checked>学号</label>
								<label><input type="checkbox" data-column="grade" checked>年级</label>
								<label><input type="checkbox" data-column="academy" checked>学院</label>
								<label><input type="checkbox" data-column="specialty" checked>专业</label>
								<label><input type="checkbox" data-column="class" checked>班级</label>
								<label><input type="checkbox" data-column="league" checked>社团</label>
								<label><input type="checkbox" data-column="department" checked>部门</label>
								<label><input type="checkbox" data-column="mobile" checked>手机</label>
								<label><input type="checkbox" data-column="lastlogin" checked>最后登录时间</label>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="users">
						<thead><tr>
							<th style="width:41px"><input type="checkbox" class="group-checkable" data-set="#users .checkboxes" /></th>
							<th style="width:48px">头像</th>
							<th>UID</th>
							<th>用户名</th>
							<th>真名</th>
							<th>性别</th>
							<th>QQ</th>
							<th>Email</th>
							<th>工时</th>
							<th>学号</th>
							<th>年级</th>
							<th>学院</th>
							<th>专业</th>
							<th>班级</th>
							<th>社团</th>
							<th>部门</th>
							<th>手机</th>
							<th>最后登录</th>
							<th style="width:61px"></th>
						</tr></thead>
						<tbody>
							{foreach $users as $user}
							<tr class="odd gradeX">
								<td><input type="checkbox" class="checkboxes" name="id[]" value="{$user.uid}" /></td>
								<td><img alt="" src="{$smarty.const.UC_API|replace:'127.0.0.1':$smarty.server.HTTP_HOST}/avatar.php?uid={$user.uid}&size=small" width="48" height="48" /></td>
								<td>{$user.uid}</td>
								<td>{$user.username}</td>
								<td>{$user.realname}</td>
								<td>{if $user.gender==1}男{elseif $user.gender==2}女{else}未知{/if}</td>
								<td>{$user.qq}</td>
								<td>{$user.email}</td>
								<td>{$user.manhour}</td>
								<td>{$user.studentid}</td>
								<td>{$user.grade}</td>
								<td data-academy="{$user.academy}">{if empty($academies)}-{else}{$academies[$user.academy].name}{/if}</td>
								<td>{$user.specialty|default:'-'}</td>
								<td>{$user.class|default:'-'}</td>
								<td>{$user.league|default:'-'}</td>
								<td>{$user.department|default:'-'}</td>
								<td>{$user.mobile|default:'-'}</td>
								<td data-time="{$user.lastlogin}">-</td>
								<td><a href="javascript:;" class="btn btn-xs default blue-stripe">编辑</a> <a href="javascript:;" class="btn btn-xs default red-stripe">删除</a></td>
							</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>
{/block}