{extends 'common_main.html'}
{block subtitle}{lang nav/manhour}{/block}
{block pagestyle}
<link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css"/>
<link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-editable/inputs-ext/address/address.css"/>
<link rel="stylesheet" type="text/css" href="assets/css/pages/profile.css" />
{/block}
{block pageplugins}
	<script type="text/javascript" src="assets/plugins/data-tables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="assets/plugins/data-tables/DT_bootstrap.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/select2_locale_zh-CN.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
	<script type="text/javascript" src="assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="assets/plugins/moment.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.mockjax.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-editable/inputs-ext/address/address.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>
	<script type="text/javascript" src="{static 'assets/scripts/seccode.js'}"></script>
	<script type="text/javascript" src="{static 'assets/scripts/selfprofile.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			App.init();
			//IdleTimeout.init();
			SelfProfile.init();
		});
	</script>
{/block}
{block pgcontent}
			<div id="alert-modal" class="modal fade" tabindex="-1" data-backdrop="static">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">提示信息</h4>
				</div>
				<div class="modal-body">
					<div class="row"><div class="col-md-12"></div></div>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn blue">确定</button>
				</div>
			</div>
			<div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-full-width">
						<!--<ul class="nav nav-tabs">
							<li><a href="#tab_overview" data-toggle="tab">概览</a></li>
							<li class="active"><a href="#tab_account" data-toggle="tab">账户</a></li>
						</ul>-->
						<div class="tab-content">
							<div class="tab-pane active" id="tab_account">
								<div class="row profile-account">
									<div class="col-md-3">
										<ul class="ver-inline-menu tabbable margin-bottom-10">
											<li class="active"><a data-toggle="tab" href="#tab_profile"><i class="fa fa-cog"></i> 个人档案</a><span class="after"></span></li>
											<li ><a data-toggle="tab" href="#tab_avatar"><i class="fa fa-picture-o"></i> 更换头像</a></li>
											<li ><a data-toggle="tab" href="#tab_pwd"><i class="fa fa-lock"></i> 修改密码</a></li>
											<li ><a data-toggle="tab" href="#tab_private"><i class="fa fa-eye"></i> 隐私选项</a></li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="tab-content">
											<div id="tab_profile" class="tab-pane active">
												<table id="table-profile" class="table table-bordered table-striped">
													<tbody>
														<tr>
															<td style="width:6em">{lang email}</td>
															<td><a href="javascript:;" id="email" data-type="text" data-pk="1" data-value="{nocache}{$_G.member.email}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang realname}</td>
															<td><a href="javascript:;" id="realname" data-type="text" data-pk="1" data-value="{nocache}{$_G.member.realname}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang gender}</td>
															<td><a href="javascript:;" id="gender" data-type="select2" data-pk="1" data-value="{nocache}{$_G.member.gender}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang qq}</td>
															<td><a href="javascript:;" id="qq" data-type="text" data-pk="1" data-value="{nocache}{$_G.member.qq}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang studentid}</td>
															<td><a href="javascript:;" id="studentid" data-type="text" data-pk="1" data-value="{nocache}{$_G.member.studentid}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang grade}</td>
															<td><a href="javascript:;" id="grade" data-type="select" data-pk="1" data-source="{U 'api/profile?type=grade'}" data-value="{nocache}{$_G.member.grade}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang academy}</td>
															<td><a href="javascript:;" id="academy" data-type="select" data-pk="1" data-source="{U 'api/profile?type=academy'}" data-value="{nocache}{$_G.member.academy}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang specialty}</td>
															<td><a href="javascript:;" id="specialty" data-type="select" data-pk="1" data-source="{U api/profile}" data-value="{nocache}{$_G.member.specialty}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang class}</td>
															<td><a href="javascript:;" id="class" data-type="select" data-pk="1" data-source="{U api/profile}" data-value="{nocache}{$_G.member.class}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang league}</td>
															<td><a href="javascript:;" id="league" data-type="select2" data-pk="1" data-value="{nocache}{$_G.member.league}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang department}</td>
															<td><a href="javascript:;" id="department" data-type="select2" data-pk="1" data-value="{nocache}{$_G.member.department}{/nocache}"></a></td>
														</tr>
														<tr>
															<td>{lang mobile}</td>
															<td><a href="javascript:;" id="mobile" data-type="text" data-pk="1" data-value="{nocache}{$_G.member.mobile}{/nocache}"></a></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div id="tab_avatar" class="tab-pane">
												<p><span class="label label-danger">注意</span> 更换头像需要浏览器已安装 Adobe Flash Player 插件，大多数手机都无法更换头像，请尽量在电脑上操作。</p>
												<p><span class="label label-info">提示</span> 更换头像后，您需要刷新页面才能看到效果</p>
												<!--{*<div class="thumbnail"><img src="{$smarty.const.UC_API|replace:'127.0.0.1':$smarty.server.HTTP_HOST}/avatar.php?uid={$_G.uid}&size=big" alt=""></div>*}-->
												{nocache}{uc_avatar($_G.uid)}{/nocache}
											</div>
											<div id="tab_pwd" class="tab-pane">
												<div class="alert alert-danger alert-block fade in display-hide">
													<button class="close" data-close="alert"></button>
													<h4 class="alert-heading">{lang tip}</h4><p></p>
												</div>
												<form action="{U self/cgpwd}" method="post">
													{$cgpwdToken}
													<div class="form-group">
														<label class="control-label">当前密码<span class="required">*</span></label>
														<input type="password" class="form-control" autocomplete="off" name="curpwd" id="curpwd" required />
													</div>
													<div class="form-group">
														<label class="control-label">新密码<span class="required">*</span></label>
														<input type="password" class="form-control" autocomplete="off" name="newpwd" id="newpwd" required />
													</div>
													<div class="form-group">
														<label class="control-label">确认密码<span class="required">*</span></label>
														<input type="password" class="form-control" autocomplete="off" name="rpwd" required />
													</div>
													{if need_seccode('cgpwd')}
													<div class="form-group">
														<label class="control-label">{lang verifycode}<span class="required">*</span></label>
														<input class="form-control placeholder-no-fix" type="text" maxlength="{$_G['setting']['seccodedata']['length']}" autocomplete="off" id="verifycode" imgurl="{U 'seccode/show?tag='}{$cgpwdTokenHash}" tag="{$cgpwdTokenHash}" required />
													</div>
													{/if}
													<div class="margin-top-10"><button type="submit" class="btn green">修改密码</button></div>
												</form>
											</div>
											<div id="tab_private" class="tab-pane">
												<form action="#" class="">
													<table class="table table-bordered table-striped">
														<tr>
															<td>
																Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
															</td>
															<td>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option1" />
																Yes
																</label>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option2" checked />
																No
																</label>
															</td>
														</tr>
														<tr>
															<td>允许系统向我发送电子邮件</td>
															<td><label class="uniform-inline"><input type="checkbox" name="accepteml" value="" /></label></td>
														</tr>
													</table>
													<!--end profile-settings-->
													<div class="margin-top-10">
														<a href="#" class="btn green">Save Changes</a>
														<a href="#" class="btn default">Cancel</a>
													</div>
												</form>
											</div>
										</div>
									</div>
									<!--end col-md-9-->                                   
								</div>
							</div>
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
{/block}