{extends 'common_main.html'}
{block subtitle}{lang nav/clearcache}{/block}
{block pagestyle}{/block}
{block pageplugins}
	<script type="text/javascript" src="{static 'assets/admin/pages/scripts/tool.js'}"></script>
{/block}
{block pagejs}
	<script type="text/javascript">
		$(document).ready(function() {
			Metronic.init();
			Layout.init();
			$(".panel form").submit(function() {
				$.post("{U 'tool/clearcache?inajax=1'}", {}, function(data) {
					modalAlert(data.msg);
				}, "JSON");
				return false;
			})
		});
	</script>
{/block}
{block pgcontent}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">清除全部缓存</h3>
				</div>
				<div class="panel-body">
					 <form action="{U 'tool/clearcache?inajax=1'}" method="post" accept-charset="utf-8">
					 	<input type="submit" value="清除缓存" />
					 </form>
				</div>
			</div>
{/block}