<h4>一、基本条款</h4>
<ol>
	<li>在开始使用点点网（下称“本网站”）提供的所有服务之前，用户需认真阅读、充分理解本《点点网服务条款》（下称“《条款》”），尤其包括免除或者限制点点网责任的条款及对用户的权利限制条款。请您审慎阅读并选择接受或不接受本《条款》内容。如果您选择不接受本《条款》内的任何内容，您无权注册和使用本网站提供的所有服务。一旦您注册或者登录点点网，即表示您接受本《条款》的内容，同意受到本《条款》的各项约束。</li>
	<li>您可以通过以下任何一种方式接受本《条款》：(1) 在点点网平台任一用户界面中，点击表示接受或同意本《条款》的全部条款的选项；(2) 实际使用点点网平台及点点网提供的其他相关服务。您对点点网平台及其他相关服务的使用将被视为您自实际使用起便接受了本《条款》的全部条款。</li>
	<li>本《条款》可由点点网随时更新，更新后的协议条款一旦公布即代替原来的协议条款。用户可随时登录网站查阅最新版协议条款。在点点网修改《协议》条款后，如果用户不接受修改后的条款，请立即停止使用点点网提供的服务，如果用户继续使用点点网提供的服务将被视为已接受了修改后的协议。</li>
	<li>鉴于网络服务的特殊性，用户同意点点网有权随时变更、中断或终止部分或全部的网络服务。点点网无需通知用户，也无需对任何用户或任何第三方承担任何责任。用户理解，点点网需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，点点网无需为此承担任何责任，但点点网应尽可能事先进行通告。</li>
	<li>点点网运用自己的系统通过互联网向用户提供服务，除非另有明确规定，增强或强化目前服务的任何新功能，包括新产品以及新增加的服务，均无条件地适用本《条款》。</li>
	<li>点点网有权对用户使用点点网的情况进行审查和监督(包括但不限于对用户存储在点点网的内容进行审核)，如用户在使用点点网时违反本《条款》中的任何规定，点点网或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用服务的权利）以减轻用户不当行为造成的影响。</li>
</ol>
<h4>二、用户使用规则</h4>
<h5>（一）用户帐号</h5>
<ol>
	<li>用户应保证其在点点网填写的邮箱等资料均为真实无误，该资料对于使用点点网的服务及找回丢失的帐号至关重要。若注册信息有任何变动，用户必须及时更新。如因用户提供虚假资料或非因点点网的原因而被他人获悉自己的注册资料，从而导致的损失由用户本人承担，损失包括但不限于因资料虚假而无法取回丢失的帐号。</li>
	<li>用户注册的二级个性域名所有权归点点网，用户注册完毕后，获得该二级个性域名的使用权。</li>
	<li>用户的帐号使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。如果点点网发现使用者并非帐号初始注册人，点点网无需通知，有权收回帐号而无需向该帐号使用人承担法律责任，由此带来的包括并不限于用户主页无法访问、资料和内容丢失等损失由用户自行承担。点点网禁止用户私下有偿或无偿转让帐号，以免因帐号问题产生纠纷，用户应当自行承担因违反此要求而遭致的任何损失，同时点点网保留追究上述行为人法律责任的权利。</li>
	<li>用户承担其点点网帐号与密码的保管责任，并对利用该密码和帐号所进行的一切活动负全部责任；由该等活动所导致的任何损失或损害由用户承担，点点网不承担任何责任。用户须重视点点网帐号及帐号密码。用户同意如发现他人未经许可使用其帐号时立即通知点点网。</li>
	<li>用户注册点点网帐号并获取二级个性域名后如果长期不使用达12个月以上，点点网无需通知用户，有权回收二级个性域名，以免造成资源浪费，由此带来的包括并不限于用户主页无法访问、用户资料和内容丢失等损失由用户自行承担。</li>
	<li>本着有效利用资源，保障更多合法用户权益为目的，对于恶意注册或者长期不登录达12个月以上的点点网帐号，点点网有权收回其使用的点点网账号。</li>
</ol>
<h5>（二）用户在使用点点网过程中，必须遵循以下原则</h5>
<ol>
	<li>遵守中国有关的法律和法规。</li>
	<li>遵守所有与点点网服务有关的网络协议、规定和程序。</li>
	<li>不得为任何非法目的而使用点点网服务。</li>
	<li>不得以任何形式使用点点网服务侵犯点点网的商业利益，包括并不限于发布非经点点网许可的商业广告。</li>
	<li>不得利用点点网服务进行任何可能对互联网或移动网正常运转造成不利影响的行为。</li>
	<li>不得利用点点网上传、展示或传播任何虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料。</li>
	<li>不得侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益。</li>
	<li>不得伪造标题或以其他方式操控识别资料，使人误认为该内容为点点网公司所传送。</li>
	<li>不得利用点点网进行任何不利于点点网的行为。</li>
</ol>
<p>如用户在使用点点网网络服务时违反上述任何规定，点点网或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用服务的权利）以减轻用户不当行为造成的影响。</p>
<h5>（三）关于注册用户在点点网上传的作品和内容</h5>
<ol>
	<li>用户上传的作品和内容是指用户在本网站上载或发布的视频、音频或其它任何形式的内容包括文字、图片、链接等。</li>
	<li>除非点点网收到相反通知，点点网将用户视为其在本网站上传或发布的内容的著作权人或合法的授权人。用户在本网站上传或发布原创作品及转载作品的，用户保证其对该等作品享有合法著作权或者相应授权，并且用户同意授予点点网对所有上述作品和内容在全球范围内的免费的、不可撤销的、无限期的且可转让的非独家使用权许可，点点网有权展示、散布及推广前述内容，有权对前述内容进行任何形式的复制、修改、出版、发行及以其他方式使用或者授权第三方进行复制、修改、出版、发行及以其他方式使用。</li>
	<li>当第三方认为用户发表或者上传于本网站的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本网站发送权利通知书时，用户同意本网站可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本网站将不会自动恢复上述删除的信息。</li>
	<li>因用户进行上述作品和内容在本网站的上传或发布而导致任何第三方提出索赔要求或衍生的任何损害或损失，用户同意赔偿点点网及其分公司、关联公司、代理人或其他合作伙伴及员工，并使其免受损害。</li>
</ol>
<h4>三、用户隐私权制度</h4>
<ol>
	<li>当用户注册点点网的服务时，用户须提供个人信息。点点网收集个人信息的目的是为用户提供尽可能多的个人化网上服务以及为广告商提供一个方便的途径来接触到适合的用户，并且可以发送具有相关性的内容和广告。在此过程中，广告商绝对不会接触到用户的个人信息。点点网不会在未经合法用户授权时，公开、编辑或透露其个人信息及保存在点点网中的非公开内容，除非有下列情况：<br/>
		(1) 有关法律规定或点点网合法服务程序规定。<br/>
		(2) 在紧急情况下，为维护用户及公众的权益。<br/>
		(3) 为维护点点网的商标权、专利权及其他任何合法权益。<br/>
		(4) 其他需要公开、编辑或透露个人信息的情况。
	</li>
	<li>在以下（包括但不限于）几种情况下，点点网有权使用用户的个人信息：<br/>
		(1) 在进行促销或抽奖时，点点网可能会与赞助商共享用户的个人信息，在这些情况下点点网会在发送用户信息之前进行提示，并且用户可以通过不参与来终止传送过程。<br/>
		(2) 点点网可以将用户信息与第三方数据匹配。<br/>
		(3) 点点网会通过透露合计用户统计数据，向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述点点网的服务。<br/>
		(4) 用户购买在点点网列出的商品或服务时，点点网获得的信息及用户提供的信息（例如用户的信用卡号和联系信息）会提供给商家，这些商家会进行数据收集操作，但点点网对商家的此种操作不负任何责任。<br/>
		(5) 点点网会向用户发送关于点点网不同产品和服务的信息或者点点网认为用户会感兴趣的其他产品和服务。如果用户不希望收到这样的邮件，只需在提供个人信息时或其他任何时候告知点点网即可。另外，点点网会竭尽全力保护用户的信息，但点点网不能确信或保证任何个人信息的安全性，用户须自己承担风险。
	</li>
</ol>
<h4>四、免责条款</h4>
<ol>
	<li>用户明确同意其使用点点网网络服务所存在的风险将完全由其本人承担；因其使用点点网网络服务而产生的一切后果也由其本人承担。点点网对用户及任何第三方不承担任何责任。</li>
	<li>点点网不担保或保证网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作任何担保或保证。</li>
	<li>点点网不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由点点网实际控制的任何网页上的内容，点点网也不承担任何责任。</li>
	<li>对于因不可抗力或点点网不能控制的原因造成的网络服务中断或其它缺陷，点点网不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</li>
	<li>点点网对于任何自本网站而获得的他人的信息、内容或者广告宣传等任何资讯（以下统称“信息”），不保证真实、准确和完整性。如果任何单位或者个人通过上述 “信息”而进行任何行为，须自行甄别真伪和谨慎预防风险。否则，无论何种原因，本网站不对任何非与本网站直接发生的交易和/或行为承担任何直接、间接、附带或衍生的损失和责任。</li>
	<li>用户同意，对于点点网向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，点点网无需承担任何责任：<br/>
		(1) 点点网向用户免费提供的各项网络服务；<br/>
		(2) 点点网向用户赠送的任何产品或者服务；<br/>
		(3) 点点网向收费网络服务用户附赠的各种产品或者服务；<br/>
		(4) 用户资料遭到未授权的使用或修改；<br/>
		(5) 其他与本网站相关的事宜。
	</li>
</ol>
<h4>五、责任限制</h4>
<p>用户明确了解并同意，基于以下原因造成的包括但不限于利润、信誉、应用、数据损失或其它无形损失，点点网不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任（即使点点网事先已被告知发生此种赔偿之可能性亦然）：(i)点点网的服务之使用或无法使用，(ii)为替换从或通过点点网的服务购买或取得之任何商品、数据、信息、服务，收到的讯息，或缔结之交易而发生的成本，(iii)用户的传输或数据遭到未获授权的存取或变造，(iv) 任何第三方在点点网的服务中所作之声明或行为，或(v)与点点网的服务相关的其它事宜，但本《条款》有明确规定的除外。</p>
<h4>六、知识产权</h4>
<ol>
	<li>点点网提供的网络服务中包含的任何文本、图片、图形、音频和/或视频资料均受版权、商标、专利和/或其它知识产权法律的保护。未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、修改、改写、改编、出售、出租、衍生其他作品，或者被用于其他任何商业目的。所有这些资料或资料的任何部分仅可作为个人学习、研究或欣赏的目的而保存在某台计算机内。点点网不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿，以任何形式向用户或任何第三方负法律责任。</li>
	<li>点点网为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse engineer）、反向编译（decompile）或反汇编（disassemble）等。</li>
	<li>除用户依法享有之版权之内容之外，本网站的整体内容版权归点点网所有。本网站所有设计图样以及其他图样、产品及服务名称，均为点点网及/或其关联公司所享有的商标、标识。任何人不得使用、复制或用作其他用途。</li>
</ol>
<h4>七、其他条款</h4>
<ol>
	<li>本《条款》所定的任何条款的部分或全部无效，不影响其它条款的效力。</li>
	<li>本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。点点网将视向用户所提供服务内容之特性，要求用户在注册点点网提供的有关服务时，遵守特定的条件和条款；如该等条件和条款与以上服务条款有任何不一致之处，则以该等条件和条款为准。</li>
	<li>本《条款》的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。若用户和点点网之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交点点网所在地即北京市有管辖权的人民法院管辖。</li>
	<li>本《条款》中的标题仅供参考之用，对《条款》任何部分并无约束力亦不影响其解释。</li>
	<li>本《条款》在根据下述规定终止前，将会一直适用。当下列情况出现时，点点网可以随时中止与用户的协议：（1）用户违反了本《条款》中的任何规定；（2）法律法规要求终止本《条款》；（3）点点网认为实际情形不再适宜继续执行本《条款》。</li>
	<li>点点网未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。</li>
</ol>