@media (min-width: 768px) and (max-width: 835px) {
    .dashboard-stat .details .number.lastlogin { font-size: 16px; }
}
@media (min-width: 835px) and (max-width: 900px) {
    .dashboard-stat .details .number.lastlogin { font-size: 18px; }
}
@media (min-width: 900px) and (max-width: 924px) {
    .dashboard-stat .details .number.lastlogin { font-size: 20px; }
}
@media (min-width: 924px) and (max-width: 952px) {
    .dashboard-stat .details .number.lastlogin { font-size: 22px; }
}
@media (min-width: 953px) and (max-width: 990px) {
    .dashboard-stat .details .number.lastlogin { font-size: 24px; }
}
@media (min-width: 991px) and (max-width: 1023px) {
    .dashboard-stat .details .number.lastlogin { font-size: 23px; }
}
@media (min-width: 1024px) and (max-width: 1085px) {
    .dashboard-stat .details .number.lastlogin { font-size: 16px; }
}
@media (min-width: 1085px) and (max-width: 1150px) {
    .dashboard-stat .details .number.lastlogin { font-size: 18px; }
}
@media (min-width: 1150px) and (max-width: 1230px) {
    .dashboard-stat .details .number.lastlogin { font-size: 22px; }
}
@media (min-width: 1230px) and (max-width: 1280px) {
    .dashboard-stat .details .number.lastlogin { font-size: 26px; }
}
@media (min-width: 1280px) and (max-width: 1350px) {
    .dashboard-stat .details .number.lastlogin { font-size: 28px; }
}
@media (min-width: 1350px) and (max-width: 1480px) {
    .dashboard-stat .details .number.lastlogin { font-size: 31px; }
}

.dashboard-stat .visual i {
    line-height: 65px;
}

/*.dashboard-stat .visual i {
    font-size: 65px; line-height: 65px;
}*/
