*,h1,h2,h3,h4,h5,h6,input,button {
	font-family:'微软雅黑','\5FAE\8F6F\96C5\9ED1';
	/*transition:all .25s ease;
	-webkit-transition:all .25s ease;
	-moz-transition:all .25s ease;
	-o-transition:all .25s ease;
	-ms-transition:all .25s ease;*/
}
a { transition:text-shadow 0.2s linear,color 0.2s linear,background 0.2s linear;-webkit-transition:text-shadow 0.2s linear,color 0.2s linear,background 0.2s linear;-moz-transition:text-shadow 0.2s linear,color 0.2s linear,background 0.2s linear;-o-transition:text-shadow 0.2s linear,color 0.2s linear,background 0.2s linear; }
a:hover,a:visited:hover { text-shadow:#585858 0px 0px 3px !important; }